<div>
  <div>Checkbox</div>
  <div><mat-checkbox>Check me!</mat-checkbox></div>
  <mat-divider></mat-divider>
  <div>Buttons</div>
  <button mat-button>Click me!</button>
  <mat-divider></mat-divider>
  <button mat-button>Hello</button>
  <mat-divider></mat-divider>
  <button mat-raised-button>Hello</button>
  <mat-divider></mat-divider>

  <button mat-flat-button>Hello</button>
    <mat-divider></mat-divider>
  <button mat-stroked-button>Hello</button>  <mat-divider></mat-divider>
  <button mat-icon-button>Hello</button>  <mat-divider></mat-divider>
  <button mat-fab>Hello</button>  <mat-divider></mat-divider>
  <button mat-mini-fab>Hello</button>  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <div class="mat-display-1">Heading 1</div>
  <div class="mat-display-2">heading 2</div>
  <div class="mat-display-3">heading 3</div>
  <div class="mat-display-4">heading  4</div>



  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>


</div>
